@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-serif: "Cormorant Garamond", serif;
  --font-mono: "JetBrains Mono", monospace;
  --color-art-cream: #FAF9F6;
  --color-art-dark: #121211;
  --color-art-black: #1A1A1A;
  --color-art-accent: #F27D26;
  --color-art-beige: #E8E6E0;
}
